@charset "UTF-8";

body {
    background-color: rgb(175, 253, 175);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
}

h1 {
    color: green;
}
h1#principal {

    background-color: green;
    color: white;
    text-align: center;
    font-style: italic;
}
h2 {
    color: rgb(64, 207, 64);
}

.basico {
    color: rgb(79, 243, 79);
    font-weight: bold;
}

.intermediario {
    color: rgb(221, 221, 64);
}

.avancado {
    color: red;
}